@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  } */
}

@layer base {
  body {
    @apply bg-white text-soot-950;
  }

  @media (prefers-color-scheme: dark) {
    body {
      @apply bg-soot-950 text-soot-50;
    }
  }
}

/* @layer utilities {} */
